// Cores principais
$primary-color: rgb(16 185 129/var(--tw-text-opacity,1));
$background-color: #1E293B;
$text-color: rgb(248 250 252/var(--tw-text-opacity,1));
$button-color: rgb(5 150 105/var(--tw-bg-opacity,1)); 
$button-hover-color: #059669e6;

// Outras variáveis, se necessário
$font-family: 'Poppins', sans-serif;
$font-size-base: 1rem;